.navbar {
    padding: 0.7rem 4rem;
}
.enactus-logo > img {
    width: 2rem;
    transform: scale(3.5) translateY(8%);
}
.collapse {
    margin-top: .3rem;
	justify-content: flex-end;
}

.nav-link {
    padding: .4rem 4rem;
}