body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
		overflow-x: hidden;

}

:root {
    --custom-primary-color: #fdc220;
	overflow-x: hidden;
}

.container {
    margin: 5rem auto;
}

.heading {
    color: var(--custom-primary-color);
}
.heading::before,
.heading::after {
    content: ' - ';
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #fec60f;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #e19e20;
}