.intro-content {
  border-left: 0.2rem solid var(--custom-primary-color);
  padding-left: 0.6rem;
  color: #555;
  text-align: justify;
  text-justify: distribute-all-lines;
}

.sub-projects-cards-wrapper {
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: space-evenly;
  padding: 0;
}

.sub-projects-cards-wrapper > .card {
  /* border-color: #182244; */
  border: none;
  margin: 1rem auto;
  /* max-width: 30%; */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
  0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
  0 16px 16px rgba(0, 0, 0, 0.12);
}

.card-title {
  color: #182244;
}

.card-text {
  /* color: #8b8b8b; */
  color: #555;
  letter-spacing: 0.08rem;
}
